h1{
    background-color: whitesmoke;
    background-position: top;
    text-align: center;
    font-style: italic;
    font-family:Playfair Display;
    font-weight: normal;
    text-shadow: 3px,5px rgb(126, 24, 24);
    letter-spacing: 0.5cm;

}

p{
    text-align: justify;
}
a{
    color: black;
    text-transform:uppercase ;
}
button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 45px 1px;
    cursor: pointer;
    float: right;
    opacity: 0.8;

    }
    button:active {
        background-color: darkturquoise;
        transform: translateY(3px);
      }
